@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#owo {
	text-align: center;
	bottom: 50%;
	right: 50%;
	position: absolute;
	color: white;
	font-family: 'Poppins', sans-serif;
}

#credits {
	bottom: 1%;
	right: 10px;
	font-size: xx-small;
	position: absolute;
	color: white;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: rgb(25, 25, 25);
}

#myText {
	text-align: center;
	position: absolute;
	block-size: 5%;
	background-size: 50%;
	inline-size: 95%;
	background-color: rgb(30, 30, 30);
	font-family: 'Poppins', sans-serif;
	color: white;
	border: none;
}

#submit {
	text-align: center;
	right: 5px;
	block-size: 5%;
	background-size: 50%;
	position: absolute;
	background-color: rgb(30, 30, 30);
	font-family: 'Gotham';
	border: none;
	color: white;
}